<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>learn vue.js</title>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrap">
    <div class="demo">
        <h3>1.Hello World示例</h3>
        <div id="app">
            {{ message }}
        </div>
    </div>
    <div class="demo">
        <h3>2.v-bind指令</h3>
        <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
        </div>
    </div>

    <div class="demo">
        <h3>3.v-if指令（条件）</h3>
        <div id="app-3">
            <p v-if="seen">Now you see me</p>
        </div>
    </div>
    <div class="demo">
        <h3>4.v-for指令（循环）</h3>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>
    </div>
    <div class="demo">
        <h3>5.v-on指令（事件监听）</h3>
        <div id="app-5">
            <p>{{message}}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>
    </div>
    <div class="demo">
        <h3>6.v-model指令（双向绑定）</h3>
        <div id="app-6">
            <p>{{message}}</p>
            <input v-model="message">
        </div>
    </div>
    <div class="demo">
        <h3>7.组件化应用构建</h3>
        <div id="app-7">
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
            </ol>
        </div>
    </div>

</div>
<script src="js/vue.js"></script>
<script src="js/normal.js"></script>
</body>
</html>